/* Background */

.chat-page{
    height:100vh;
    background:linear-gradient(135deg,#020617,#0F172A,#111827);
    display:flex;
    flex-direction:column;
    color:white;
}

/* Header */

.chat-header{
    padding:20px;
    text-align:center;
    border-bottom:1px solid rgba(255,255,255,.08);
    backdrop-filter:blur(20px);
}

.chat-header h1{
    font-size:34px;
    margin-bottom:8px;
    color:#3B82F6;
}

.chat-header p{
    color:#CBD5E1;
}

/* Chat Area */

.chat-box{

    flex:1;

    overflow-y:auto;

    padding:30px;

}

/* Messages */

.message{

    display:flex;

    margin-bottom:25px;

    animation:fade .3s ease;

}

.message.user{

    justify-content:flex-end;

}

.message.bot{

    justify-content:flex-start;

}

.icon{

    width:45px;

    height:45px;

    border-radius:50%;

    background:#2563EB;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-right:15px;

    font-size:18px;

}

.message.user .icon{

    background:#22C55E;

    margin-left:15px;

    margin-right:0;

    order:2;

}

/* Bubble */

.bubble{

    max-width:70%;

    padding:18px 22px;

    border-radius:18px;

    background:#1E293B;

    line-height:28px;

    font-size:16px;

    box-shadow:0 5px 15px rgba(0,0,0,.35);

}

.message.user .bubble{

    background:#2563EB;

}

/* Input */

.input-area{

    display:flex;

    padding:20px;

    background:#0F172A;

    border-top:1px solid rgba(255,255,255,.08);

}

.input-area input{

    flex:1;

    border:none;

    outline:none;

    background:#1E293B;

    color:white;

    border-radius:15px;

    padding:18px;

    font-size:17px;

}

.input-area button{

    width:60px;

    margin-left:15px;

    border:none;

    border-radius:15px;

    background:#2563EB;

    color:white;

    font-size:20px;

    cursor:pointer;

    transition:.3s;

}

.input-area button:hover{

    background:#1D4ED8;

    transform:scale(1.08);

}

/* Scrollbar */

.chat-box::-webkit-scrollbar{

    width:8px;

}

.chat-box::-webkit-scrollbar-thumb{

    background:#2563EB;

    border-radius:20px;

}

/* Animation */

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:translateY(0);

}

}